@using HaberSitesi.Entities.Concrete
@model List<News>
<div class="fashion">
    <div class="single_post_content">
        <h2><span>Ekonomi</span></h2>
        @Html.Action("EkonomiEk", "Anasayfa")
        <ul class="spost_nav">
            @foreach (var item in Model)
            {
                <li>
                    <div class="media wow fadeInDown">
                        <a href="/Ekonomi/Haber/@item.NewsID" class="media-left"> <img alt="" src="@item.NewsImage"> </a>
                        <div class="media-body"> <a href="/Ekonomi/Haber/@item.NewsID" class="catg_title">@item.NewsTitle</a> </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>