@using HaberSitesi.Entities.Concrete
@model List<News>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="single_page">
                <ol class="breadcrumb">
                    <li><a href="/Spor/Index">Spor Haberleri</a></li>
                </ol>
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="single_post_content">
                            <ul class="business_catgnav wow fadeInDown">
                                <li>
                                    <figure class="bsbig_fig">
                                        <a href="/Spor/Haber/@item.NewsID" class="featured_img"> <img alt="" src="@item.NewsImage" style="width:330px; height:170px;"> <span class="overlay"></span> </a>
                                        <figcaption> <a href="/Spor/Haber/@item.NewsID">@item.NewsTitle</a> </figcaption>
                                        <p>@item.NewsContent.Substring(0, 90)...</p>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>