@using HaberSitesi.Entities.Concrete
@model List<Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="single_page">
                <ol class="breadcrumb">
                    <li><a href="/Yazar/Index">Yazarlar</a></li>
                </ol>
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single_post_content">
                            <ul class="business_catgnav wow fadeInDown">
                                <li>
                                    <figure class="bsbig_fig">
                                        <a href="/Yazarlar/YazarDetay/@item.WriterID" class="featured_img"> <img alt="" src="@item.WriterImage" style="width:240px; height:180px;"> <span class="overlay"></span> </a>
                                        <figcaption> <a href="/Yazarlar/YazarDetay/@item.WriterID">@item.WriterName @item.WriterSurname</a> </figcaption>
                                        <p><a href="#">Tüm Yazıları</a> - @DateTime.Now.ToShortDateString()</p>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>