
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Templates/ErrorPage/css/style.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Hata!</h1>
            </div>
            <h2>Aradığın Sayfa Bulunamadı</h2>
            <p>SORUN DEĞİL. İSTERSEN SENİ ANASAYFAYA ALALIM.</p>
            <a href="/Anasayfa/Index">Anasayfa</a>
        </div>
    </div>
</body>
</html>